<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech-Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="flex-column min-100-vh">
    <header class="hero">
        <h1 class="app-title"><a href="/">Jcherry's Tech Blog</a></h1>
