<div>
  <div>
    <h2>User Dashboard</h2>
    <nav>
      <a href="dash/newblog">Create New Blog Post</a>
    </nav>

    {{#each blogbatch as |blog|}}
      {{> blogs}}
    {{/each}}
  </div>
</div>
