<div class="row justify-space-between-md">

  <!-- Login Section -->
  <div style="flex: 0 1 calc(50% - 10px); margin-bottom: 20px; padding: 20px; border-radius: 10px; background-color: #fff; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);">
    <h2>Login</h2>
    <form class="form login-form">

      <!-- Email Input -->
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      
      <!-- Password Input -->
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>

      <!-- Login Button -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit" style="padding: 12px 24px; border: none; border-radius: 5px; cursor: pointer; background-color: #000; color: #fff;">Log In</button>
      </div>
    </form>
  </div>

  <!-- Signup Section -->
  <div style="flex: 0 1 calc(50% - 10px); margin-bottom: 20px; padding: 20px; border-radius: 10px; background-color: #fff; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);">
    <h2>Sign Up</h2>
    <form class="form signup-form">

      <!-- Username Input -->
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>

      <!-- Email Input -->
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>

      <!-- Password Input -->
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>

      <!-- Signup Button -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit" style="padding: 12px 24px; border: none; border-radius: 5px; cursor: pointer; background-color: #000; color: #fff;">Sign Up</button>
      </div>
    </form>
  </div>
</div>

<!-- JavaScript -->
<script src="./js/login.js"></script>
