{{#if loggedIn}}
<!-- Logged In Section -->
<div id="blogcard">

  <!-- Title Input -->
  <div>
    <h3>Give your post a title:</h3>
    <input type="text" id="newbpt" />
  </div>

  <!-- Blog Textarea -->
  <div>
    <h3>Begin your blog here:</h3>
    <textarea id="newbp" name="newbp" rows="15"></textarea>
    <br />
    <button id="submit">Submit</button>
  </div>
</div>

<!-- Script Section -->
<script src="/js/newblog.js"></script>
{{else}}

<!-- Not Logged In Section -->
<p>Please log in first</p>
{{/if}}
