<div class="row justify-content-between-md">
    <!-- Sign Up Section -->
    <div class="login-card">
        <h2 class="input-field col-md-8 page-title text-light-black">Sign Up</h2>
        <form class="form signup-form">
            <!-- Username Field -->
            <div class="input-field col-md-8 form-group">
                <label for="signupUsername">Create Username:</label>
                <br>
                <input class="form-input" type="text" id="signupUsername">
            </div>
            <!-- Password Field -->
            <div class="input-field col-md-8 form-group">
                <label for="pwsignup">Create Password:</label>
                <br>
                <input class="form-input" type="password" id="pwsignup">
            </div>
            <!-- Button and Link Section -->
            <div class="input-field col-md-6 form-group">
                <button class="btn btn-primary yellow signupbtn" type="button">Signup</button>
                <br>
                <a href="/login">Login Instead</a>
            </div>
        </form>
    </div>
</div>

<script src="/js/signup.js"></script>